<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cupk.mapper.ActivityMapper">
  <insert id="insertActivity" parameterType="com.cupk.pojo.Activity">
    insert into t_activity(title,content,activity_image,date_time,num_required,num_participants,state,user_id)
    values(#{title},#{content},#{activity_image},#{date_time},#{num_required},#{num_participants},#{state},#{user.id})
  </insert>
  <delete id="delActivityByIds" parameterType="java.lang.Integer">
    delete from t_activity where id in
    <foreach collection="array" open="(" close=")" item="id" separator=",">
     #{id}
    </foreach>
  </delete>
</mapper>