<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cupk.mapper.PostMapper">
    <update id="clickPost">
        update t_post
        set click_qty=click_qty+1
        where id = #{id}
    </update>
    <update id="upPost">
        update t_post
        set up_qty=up_qty+1
        where id = #{id}
    </update>
   <update id="countReply" >
     update t_post
     set reply_qty=reply_qty+1
     where id = #{id}
   </update>

    <insert id="insertMainPost" parameterType="com.cupk.pojo.Post" useGeneratedKeys="true" keyProperty="id">
        insert into t_post(reply_qty,click_qty,up_qty,title,content,date_time,plate_id,user_id)
            values (#{reply_qty},#{click_qty},#{up_qty},#{title},#{content},#{date_time},#{plate.id},#{user.id})
    </insert>

    <delete id="delPostByIds">
        delete from t_post where id in
        <foreach collection="array" open="(" close=")" item="id" separator=",">
            #{id}
        </foreach>
    </delete>

</mapper>