<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cupk.mapper.PostMapper">
    <update id="clickPost">
        update t_post
        set click_qty=click_qty+1
        where id = #{id}
    </update>
    <update id="upPost">
        update t_post
        set up_qty=up_qty+1
        where id = #{id}
    </update>
   <update id="countReply" >
     update t_post
     set reply_qty=reply_qty+1
     where id = #{id}
   </update>
    <select id="getMainPostsByPlateID" resultMap="PostWithUser">
        select * from t_post where plate_id=#{plate_id}
    </select>
    <resultMap id="PostWithUser" type="com.cupk.pojo.Post">
        <id column="id" property="id"></id>
        <result column="reply_qty" property="reply_qty"></result>
        <result column="click_qty" property="click_qty"></result>
        <result column="up_qty" property="up_qty"></result>
        <result column="head" property="head"></result>
        <result column="content" property="content"></result>
        <result column="datetime" property="datetime"></result>
        <association property="plate_id" column="plate_id" javaType="com.cupk.pojo.PlateMessage"
                     select="com.cupk.mapper.PlateMapper.findPlateById"></association>
        <association property="user" column="user_id" javaType="com.cupk.pojo.User"
                     select="com.cupk.mapper.UserMapper.findByID"></association>
    </resultMap>
    <insert id="insertMainPost" parameterType="com.cupk.pojo.Post">
        insert into t_post(reply_qty,click_qty,up_qty,head,content,datetime,plate_id,user_id)
            value (#{reply_qty},#{click_qty},#{up_qty},#{head},#{content},#{datetime},#{plate.id},#{user.id})
    </insert>
    <select id="findMainPostsByStr" parameterType="java.lang.String" resultMap="PostWithUser">
        select * from t_post
        where 1=1
        <if test="Str!=null and Str!=''">
            and head like CONCAT('%',#{Str},'%')
            or content like CONCAT('%',#{Str},'%')
            or plate_id = (select id from t_plate where name like CONCAT('%',#{Str},'%'))
            or user_id =(select id from t_plate where name like CONCAT('%',#{Str},'%'))
        </if>
    </select>
</mapper>

